Repository c3codex/git-fairy, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, chore, art, research

fairy: first sparkle test (update README)
  README.md
Labels: docs

Update fairy.yml
  .github/workflows/fairy.yml
Labels: chore

Create fairy_commit.py
  Scripts/fairy_commit.py
Labels: none

Update fairy_commit.py
  Scripts/fairy_commit.py
Labels: none

git commit -m "fairy: dust notes" git push
  examples/summon.sh
Labels: none

git commit -m "fairy: dust notes" git push
  scripts/fairy_commit.py
Labels: chore

git commit -m "fairy: dust notes" → git push.
  .github/workflows/fairy.yml
Labels: chore

fairy: sprinkle dust + update CHANGELOG
  CHANGELOG.md
Labels: docs

Update fairy.yml
  .github/workflows/fairy.yml
Labels: chore

.github/labeler.yml:

docs:
  - "**/*.md"
  - "docs/**"
chore:
  - ".github/**"
  - "scripts/**"
art:
  - "art/**"
  - "assets/**"
research:
  - "research/**"
